
# ignore plugins
markupsafe/
Material Theme - Appbar/
Material Theme - White Panels/
mdpopups/
pygments/
Python Flake8 Lint/
python-jinja2/
python-markdown/
pyyaml/
SublimeCodeIntel/

# ignore cache
User/Package Control.cache/

# ignore ca file
User/Package Control.last-run
User/Package Control.merged-ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.user-ca-bundle
User/oscrypto-ca-bundle.crt
